.footer {
  padding: 20px 0px;
  background-color: #74c69d;

  p {
    margin-bottom: 0px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    /* identical to box height, or 25px */

    /* Color / White / 100 */

    color: #ffffff;
  }
}
