.portfolio__images {
  padding: 30px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  img {
    padding: 45px;
    max-height: 380px;
    max-width: 570px;
  }
}
